@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
:root{
    --color1: #246f98;
    --color2: #3197ac;
    --color3: #cecab4;
    --color4: #d1b446;
    --font1: 'Oswald', sans-serif;
    --font2: 'Bebas Neue', sans-serif;
}
/* Header CSS Starts Here */
header{
    width: 100%;
    display: flex;
}
header .logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 0vh;
}
header .logo img{
    width: 40%;
}
header .heading{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    border-radius: 0 0 15px 15px;
    text-align: center;
    text-align-last: center;
}
header .heading h1{
    font-family: var(--font1);
    font-size: 2em;
}
/* Headers CSS Ends Here */
/* Main CSS Starts Here */
main{
    width: 100%;
}
main .entry{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh auto;
    padding: 5vh;
    text-transform: capitalize;
    font-family: var(--font2);
    border: 2px groove var(--color2);
    border-radius: 8px;
}
main .entry input{
    border: 1px solid var(--color1);
    border-radius: 5px;
    margin: 3vh 0vh;
    transition: all 1s ease;
    width: 30%;
    padding: 2px;
    caret-color: var(--color1);
}
main .entry input:focus{
    box-shadow: 0 0 15px 1px var(--color2);
}
main .entry button{
    width: 15%;
    padding: 2px;
    font-family: var(--font2);
    background-color: var(--color1);
    color: white;
    border-radius: 10px;
    transition: all 1s ease;
    border: 1px solid white;
}
main .entry button:hover{
    background: none;
    border: 1px solid var(--color1);
    color: var(--color1);
}
main .entry p{
    margin-bottom: 0;
    display: none;
}
main .data{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    display: none;
    font-family: var(--font1);
}
main .data .box{
    width: 24%;
    border: 1px solid var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
main .data .box span{
    border-bottom: 2px solid var(--color4);
}
main .result{
    width: 100%;
    border: 1px solid black;
    margin: 8vh 0vh;
    display: none;
}
main .result h2{
    width: 50%;
    text-align: center;
    border-bottom: 5px double var(--color4);
    font-family: var(--font1);
    margin: 2vh auto;
}
main .result table{
    width: 100%;
    text-transform: capitalize;
}
main .result table thead,main .result table tr{
    width: 100%;
    font-family: var(--font2);
    border: 1px solid black;
}
main .result table thead th,main .result table tr td{
    width: 20%;
    border: 1px solid black;
    font-family: var(--font1);
}
/* CSS For Responsiveness */
@media only screen and (max-width:768px) {
    header{
        flex-direction: column;
        background-color: var(--color1);
        border-radius: 0 0 15px 15px;
    }
    header .logo, header .heading{
        width: 100%;
        padding: 0;
    }
    header .logo{
        padding: 2vh 0 0 0;
    }
    header .logo img{
        width: 12%;
    }
    header .heading h1{
        font-size: 1.25em;
        padding: 0 2vh;
        text-align: center;
        text-align-last: center;
    }
    main .entry{
        width: 95%;
        margin: 2vh auto;
    }
    main .entry input{
        margin: 2vh 0vh;
        width: 90%;
    }
    main .entry button{
        width: 45%;
    }
    main .data{
        width: 100%;
    }
    main .data .box{
        width: 95%;
    }
    main .data .box p{
        font-size: 0.8em;
    }
}